input, select {
    margin: 5px; 
    padding: 2px 4px 4px 4px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.2rem;
}
select {
    width: 250px; 
}

.addQuestionForm {
    border: 1px solid rgba(255, 255, 255, 0.09);
    background-color: #1a194db3;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 370px;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    margin: auto;
    margin-top: 100px;
}

button:hover {
    text-decoration:underline;
}

::placeholder {
    color: #B0BFCF;
}

.answerRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input[type="radio"] {
    margin-left: 20px;
}

.answerRow span {
    color: white;
    margin-left: 20px;
    font-size: 0.8em;
}
