.adminRoom {
	background-color: rgba(255, 255, 255, 0.05);
	display: flex;
	justify-content: space-around;
	align-items: center;
	height:50px;

}
.adminRoom button {

}

.updateUserForm {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.updateUserForm>div {
	background: #222;
	width: 100%;
}

.adminTable table{
	color: #eee;
	margin: auto;
	border-collapse: collapse;
}
.adminTable th {
	border-bottom: #bbb 2px solid;
}
.adminTable th, .adminTable td {
	padding: 7px;
}
.adminTable table caption {
	font-size: 26px;
	padding:10px 0;
	font-weight: bold;
}
