.game {
  background: #10131B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-image: url(../asserts/img/logo.png);
  background-repeat: no-repeat;
  background-position: 50% 0;

  /* background: violet; */
  width: 100% !important;
  /*height: 85%;*/
  height: 100%; 
  position: absolute;
  overflow: hidden;
}

/* .status { */
  /* float: right; */
  /* margin-bottom: 70px; */
/* } */


@media (max-width: 600px) {
  .desktop_only {
    display: none;
    background-color: lightblue;
  }

  .game {
    justify-content: flex-end;
  }
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prelimchik {
  width: 100%;
  margin-bottom: 40px;
}
