header {
	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: space-around;*/
	/*justify-content: space-between;*/
	align-items: center;
	/*color: white;*/
	/*background: #1a1a4d;*/
	/*padding-top: 15px;*/
	/*z-index: 100;*/
	
}


.header button {
	margin-left: 30px;
	margin-right: 30px;
}

.profile {
	border: 1px solid rgb(255, 0, 128);
	background: none;
	color: rgb(255, 0, 128);
	font-size: 1rem;	
	cursor: pointer;
}

/*header span {
	text-align: center;
}*/

.playerStatus {
  font-size: 0.8rem;
}

.playerStatus span {
  margin-left: 20px;
}

.red_button_header {
	border: 1px solid rgb(255, 0, 128);
	background: none;
	color: rgb(255, 0, 128);
	font-size: 1rem;	
	cursor: pointer;
}

.white_button_header {
	border: 1px solid white;
	background: none;
	color: white;
	font-size: 1rem;
	cursor: pointer;
}

a {
	color:inherit;
    text-decoration: none;
}
