.helpBlock {
    padding-top: 10px;
    background-color: #1B1E28;
    color: white;
    font-size: 0.8em;
}


@media (min-width: 600px) {
    .helpBlock {
        margin-left: 20%;
        margin-right: 20%;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 100px;
    }
}


.commandPhrasesBlock {
    margin-top: 30px;
}
