body {
	/*font-family: Helvetica, Calibri, Arial;*/
	font-family: Roboto;
	/*background: #10131B; */

	background: #283593;
	margin: 0;

}
html, body, #root{
	width: 100%;
	height: 100%;
}
#root>div {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	/*overflow: hidden;*/
}

@media (max-width: 600px) {
	#root>div {
		overflow: hidden;
	}
}


.red_button_list {
	width: 83px;
	border: 1px solid rgb(255, 0, 128);
	background: none;
	color: rgb(255, 0, 128);
	font-size: 1rem;
	cursor: pointer;
}

.green_button {
	border: 1px solid rgb(10,234,111);
	background: none;
	color: rgb(10,234,111);
	font-size: 1rem;
	cursor: pointer;
}

.white_button {
	border: 1px solid white;
	background: none;
	color:  white;
	font-size: 1rem;
	cursor: pointer;
}

.blue_button {
	border: 1px solid rgb(84, 152, 255);
	background: none;
	color:  rgb(84, 152, 255);
	font-size: 1rem;
	cursor: pointer;
}

.sweet-loading {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.5);
	margin: auto;
	z-index: 100;
}
.wall {
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0,0.5);*/
	z-index: 130;
	position: absolute;
}
