.leaderBoard table {
    border-collapse: separate;
    border-spacing: 5px;  
    color: white;
}


.leaderBoard th {
  padding: 10px;    
  border: 1px solid rgba(255, 255, 255, 0.5);    
}

.leaderBoard td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.leaderBoard table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
