.reset {
	color: #eee;
	height: 45px;
	line-height: 45px;
	float: left;
	padding: 0 10px;
	cursor: pointer;
}

.reset:hover {
	background: #df8900;
}

.reset:active {
	background: #C07A0B;
	color: #D2D2D2;
}
