.pollProc {
	width: 350px;
	height: 160px;
	background: #df8900;
	display: table;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.pollProc p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}