.hintPollChart {
	float: left;
    position: absolute;
}

.bar {
	fill: #df8900;
	animation: slideUp .6s;
}
.poll {
	position: relative;
	animation: slideUp .6s;
	margin: 0;
	padding: 0;

}
rect {
	transform: scale(1,-1) translate(0,-200);
	fill: #df8900;
}

.tick {
	fill: #eee;
}


.pollPercent {
	fill: #eee;
	animation: appear 1.5s forwards;
	font-size: 65%;
	text-anchor: middle;
}


.domain {
	fill: #090909;
}

@keyframes slideUp {
	from { height: 100%; }
	to { height: 0; }
}
