
.answertable {
  display: flex;
  justify-content: space-between;
    /* display:grid; */
    pointer-events: none;
    justify-content: left;
    width: 30%;
    /* float: right;  */
}

.prelimPlayerTable th {
  padding: 10px;    
  border: 1px solid rgba(255, 255, 255, 0.5);    
}

/* .prelimPlayerTable td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
} */

/* .prelimPlayerTable table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-collapse: collapse;
} */

.prelimPlayerTable {
  animation: appear 1s forwards;
  opacity: 0;
  padding-top: 6px;
  /* margin: 0 auto; */
  /* float: none; */
}

.prelimPlayerTable button {
  margin-top: 40px;
}
.prelimAnswer {
  transform: translate(100%);
  animation: slide 0.5s forwards;
  width: 100%;
}

.svgblink {
  animation: blinkeranimation 0.5s steps(1) infinite;
}

.answerwithuser {
  text-align: center;
  width: 100%;
}

@keyframes appear {
  0%   { opacity: 0; }
  100% { 
    opacity: 1;
  }
}

@keyframes disappear {
  0%   { opacity: 1; }
  100% { 
    opacity: 0;
  }
}



@keyframes slide {
from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}


@keyframes blinkeranimation {
  50% {
      fill: black;
  }
}

@media only screen and (max-width: 600px) {
  .prelimAnswerTable {
    animation: disappear 1s forwards;
    width: 100%;      
  }

  .prelimPlayerTable{
    height: 100%;
    width: 100%;  
    /* background-color: #10131b; */
    z-index: 100;
    display: block;
    position: absolute;
  }

}

.prelimchik h1 {
  color: white;
}
