.profilePage h1 {
  font-size: 2rem;
  color: white;
}

.profilePage table {
    border-collapse: separate;
    border-spacing: 5px;  
    color: white;
}


.profilePage th {
  padding: 10px;    
  border: 1px solid rgba(255, 255, 255, 0.5);    
}

.profilePage td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.profilePage table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
