.roomList {
    margin-left: auto;
    margin-right: auto; 
    /*width: 800px;*/
    /*background-color: rgba(255, 255, 255, 0.05);*/
    padding-bottom: 20%;
	/*font-size: 1rem;	*/
    color: #fff;
    background-color: #283593; 
    height: 100%;
  }

.roomList table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*border: 1px solid white;*/
    border-collapse: separate;
    border-spacing: 5px;
    max-width: 700px;
    width: 80%;
}


.roomList th {
    padding: 10px;    
    /*background: #df8900;*/
    /*border: 1px solid rgba(255, 255, 255, 0.5);    */
}

.roomList td {
    /*border: 1px solid rgba(255, 255, 255, 0.5);*/
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.05);

    margin: 5px;
}
.roomList td:last-child{
    width: 100px;
    padding: 0;
}
.roomList td:last-child a {
    text-decoration: none;
    padding: 5px;
    color: #eee;
    display: block;
}
.roomList td:last-child a:hover {
    /*background: rgba(0,0,0,0.3);*/
    background: #ed4856;
    color: white;
}

.roomList .normal_row {
    background: #3F51B5;
}
.roomList table .gray_row {
    /*background: #262626;*/
    color: #5C6BC0;
    cursor: default;
}

.roomList table .selected_row {
    /*background: #df8900;*/
    background: #ed4856;
}
.roomList caption {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
}
.roomList caption h1 {
    margin: 10px;
    padding: 5px;
    /*border-bottom: solid 1px rgb(84, 152, 255);*/
    border-bottom: solid 1px #5C6BC0;
    font-weight: normal;
}
.roomList caption span {
    font-size: 1rem;
    margin: 0;
}
.new_room_bnt {
    color: #10131B;
    background: none;
    margin-top: 7px;
    padding: 5px 10px;
    width: 130px;
    background: rgb(84, 152, 255);
    font-size: 1rem;    
    cursor: pointer;
    transition: color 1s, box-shadow 1s;
}


/* .active_room {
    background-color: rgba(0, 255, 128, 0.4);
} */
.activeRow td div{
    margin: 5px; 
    padding: 2px 4px 4px 4px;
    width: 241px;
    height: 22;
}

.smpleRow td div{
    background-color: #1E88E5;
    margin: 5px; 
    padding: 2px 4px 4px 4px;
    width: 241px;
    height: 22;
    cursor: pointer;
}
.smpleRow:hover{
    background: #555;
}

@media (max-width: 600px) {
    .roomList {
        font-size: 0.8rem;
    }
    .roomList table {
        width: 100%;
    }
}
  
