.scorebar {
	color: #ffbb00;
	margin: auto;
	border-collapse: collapse;
}
.scorebar tr {
	margin: 0, 10px;

}
.scorebar tr td:nth-child(1) {
	text-align: right;

}
.scorebar tr td:nth-child(2) {
	color: white;
	padding: 0 5px;
}
.scorebar tr:nth-child(1), .scorebar tr:nth-child(6), .scorebar tr:nth-child(11) {
	color: #fff;
}

.active {
	background: #E87C13;
	color: #000;
	font-weight: bold;
}
