.stats {
    color: white;
    font-size: 0.8em;
    font-weight: 100;
    border-collapse: collapse;
    border-spacing: 5px;
}

.stats th {
  /*padding: 10px;    */
  /*border: 1px solid rgba(255, 255, 255, 0.5);    */
}

.stats td {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2px;
}

/*.stats td {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

*/

.failed {
    background-color: rgba(255, 0, 0, 1);
}
