.timer {
	width: 100px;
	height: 100px;
	background: #000;
	border-radius: 50%;
	border: solid 5px #df8900;
	display: table;
	position: absolute;
	left: 0;
	top: 150px;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}

.timer span {
	color: #eee;
	font-size: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
