.voiceCommandsEditor {
    display: flex;
    flex-direction: column;
}

.voiceCommandsEditor textarea {
    margin-bottom: 10px;
}

.command {
    background-color: #1B1E28;
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: white;
    margin-top: 20px;
    padding-top: 15px;
    /*padding-left: 30%;*/
}

.command legend {
    padding-left: 10px;
    padding-right: 10px;
}

.command textarea {
    width: 98%;
}

@media (min-width: 600px) {
    .voiceCommandsEditor {
        padding-left: 30%;
        padding-right: 30%;
    }
}

.voiceCommands_save_button {
    margin-top: 15px;
    margin-bottom: 15px;
}
